body {
  height: auto;
  overflow: scroll;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.task-list::-webkit-scrollbar {
  display: block;
}
.task-list::-webkit-scrollbar {
  width: 3px;
}

/* Track */
.task-list::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
.task-list::-webkit-scrollbar-thumb {
  background: rgb(224, 223, 220);
}

/* Handle on hover */
.task-list::-webkit-scrollbar-thumb:hover {
  background: rgb(224, 223, 220);
}
